@font-face {
  font-family: Playlist Script;
  src: url('fonts/Playlist Script.otf');
}
@font-face {
  font-family: GothamMedium;
  src: url('fonts/GothamMedium.ttf');
}
@font-face {
  font-family: Thundergood;
  src: url('fonts/Thundergood.ttf');
}
/*=========================================================================================*/

body
{
  background: url(back.jpg) no-repeat center center fixed;
  background-color:white;
  font-size: 12px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: GothamMedium;
  color: white;

}
@media only screen and (max-width: 720px)
{
  body
  {
    background: url(back2.jpg) no-repeat center center fixed;
  }
}
/*=========================================================================================*/

.opacity
{
  padding: 5%;
}
h1
{
  font-size: 100px;
  font-family: Thundergood;
}

@media only screen and (max-width: 720px)
{
  h1
  {
    font-size: 32px;
  }
}
/*=========================================================================================*/
.sub
{
  font-size: 22px;
  font-family: times;
}
@media only screen and (max-width: 720px)
{
  .sub
  {
    font-size: 18px;
  }
}
/*=========================================================================================*/
.hover
{
  background: -moz-linear-gradient(45deg, rgba(255,0,255,1) 0%, rgba(0,255,255,1) 100%); /* ff3.6+ */
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(255,0,255,1)), color-stop(100%, rgba(0,255,255,1))); /* safari4+,chrome */
  background: -webkit-linear-gradient(45deg, rgba(255,0,255,1) 0%, rgba(0,255,255,1) 100%); /* safari5.1+,chrome10+ */
  background: -o-linear-gradient(45deg, rgba(255,0,255,1) 0%, rgba(0,255,255,1) 100%); /* opera 11.10+ */
  background: -ms-linear-gradient(45deg, rgba(255,0,255,1) 0%, rgba(0,255,255,1) 100%); /* ie10+ */
  background: linear-gradient(45deg, rgba(255,0,255,1) 0%, rgba(0,255,255,1) 100%); /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffff', endColorstr='#ff00ff',GradientType=1 ); /* ie6-9 */
  border-radius: 50px;
}
.hover:hover
{
  background: -moz-linear-gradient(45deg, rgba(255,227,69,1) 0%, rgba(255,0,0,1) 100%); /* ff3.6+ */
background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(255,227,69,1)), color-stop(100%, rgba(255,0,0,1))); /* safari4+,chrome */
background: -webkit-linear-gradient(45deg, rgba(255,227,69,1) 0%, rgba(255,0,0,1) 100%); /* safari5.1+,chrome10+ */
background: -o-linear-gradient(45deg, rgba(255,227,69,1) 0%, rgba(255,0,0,1) 100%); /* opera 11.10+ */
background: -ms-linear-gradient(45deg, rgba(255,227,69,1) 0%, rgba(255,0,0,1) 100%); /* ie10+ */
background: linear-gradient(45deg, rgba(255,227,69,1) 0%, rgba(255,0,0,1) 100%); /* w3c */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FF0000', endColorstr='#FFE345',GradientType=1 ); /* ie6-9 */
  border-radius: 50px;
}
.option
{
  font-size: 20px;
  color: white;
  width: 280px;
}
.option2
{
  font-size: 20px;
  color: white;
  width: 100%;
  .option
  {
    font-size: 20px;
    color: white;
    width: 280px;
    display: flex;
  }
}
p
{
  color: white;
}
/*=========================================================================================*/
.imgpdf
{

  width: 70px;
  height: auto;
}
.pdf
{
  display: inline-block;
  width: 150px;
  overflow: hidden;
}
